@font-face {
    font-family: "handwrite43";
    url("https://cdn.jsdelivr.net/gh/SurpriseLon/handwrite43@main/handwrite43.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    font-style: normal;
    font-weight: normal;
}


